.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

.btn {
	background-color: black;

	color:white;
}


footer {
	background-color: yellow;
	padding: 20px 20px 20px 20px;
	margin-bottom: 0px;
	margin-top:20px;

}




.card-semana {
	flex: 1 200px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	
}


.btn-ir {
	width: 100%;
	border-radius: 0px;
	left:0;
	bottom:0;

}
.footer-address-icon {
	padding-right: 10px;
}
.tab-content {
	padding-top: 10px;
}