.jumbotron {
  background-color: #d6a211;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: black;
  color: white; }

footer {
  background-color: #d6a211;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-semana {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px 5px 5px 5px; }

.btn-ir {
  width: 100%;
  border-radius: 0px;
  left: 0;
  bottom: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
