@yellow: #d9cd2b;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
   }

.btn {
  background-color: black;
  color: white; }

footer {
  background-color: @yellow;
  padding: 20px 20px 20px 20px;
  .margenes(10px, 0px); }

.card-semana {
  flex: 1 200px;
  .margenes(10px, 0px);
  padding: 5px 5px 5px 5px; }

.btn-ir {
  width: 100%;
  border-radius: 0px;
  left: 0;
  bottom: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
